<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../build/style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <nav class="app-bar">
            <i class="material-icons">menu</i>
            <span class="title">CMS</span>
            <input type="search" placeholder="Search"/>
            <i class="material-icons">th</i>
        </nav>
        <div class="app-menu">
            application menu
        </div>

        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="../scripts/ripple.js"></script>
        <script src="../scripts/menu.js"></script>
    </body>

</html>
