<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./Style.css" type="text/css" rel="stylesheet" />
</head>
<body>
out of bottom sheet
<!-- <div class="bottom-sheet list">
<div class="title">Create</div>
<div class="row">
  <div class="icon"><i class="material-icons">folder</i></div>
  <div class="label">Folder</div>
</div>
<div class="row">
  <div class="icon"><i class="material-icons">share</i></div>
  <div class="label">Share</div>
</div> -->
<div class="bottom-sheet grid">
  
</div>
</div>
</body>
</html>
