<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../build/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="light-theme">
  <button class="button button-raised button-default ripple" type="button">button</button>
  <button class="button button-raised button-primary" type="button">button</button>
  <button class="button button-raised button-accent" type="button">button</button>
  <button class="button button-raised" type="button" disabled>button</button>
  <button class="button button-flat button-default" type="button">button</button>
  <button class="button button-flat button-primary" type="button">button</button>
  <button class="button button-flat button-accent" type="button">button</button>
</div>
<div class="dark-theme">
  <button class="button button-raised button-default" type="button">button</button>
  <button class="button button-raised button-primary" type="button">button</button>
  <button class="button button-raised button-accent" type="button">button</button>
  <button class="button button-raised" type="button" disabled>button</button>
  <button class="button button-flat button-default" type="button">button</button>
  <button class="button button-flat button-primary" type="button">button</button>
  <button class="button button-flat button-accent" type="button">button</button>
</div>
<button class="fab fab-primary" type="button"><i class="material-icons">add</i></button>
<button class="fab fab-accent" type="button"><i class="material-icons">add</i></button>
<button class="fab fab-small fab-primary" type="button"><i class="material-icons">add</i></button>
<button class="fab fab-small fab-accent" type="button"><i class="material-icons">add</i></button>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../scripts/ripple.js"></script>
</body>
</html>
