<html>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link href="./Style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div class="test-area">
            <div class="dialog">
                <div class="dialog-body">
                    <h2>Normal Dialog</h2>
                    <p>This is a test dialog. It could contain information for the user to confirm or deny.</p>
                </div>
                <div class="dialog-footer">
                    <button class="button button-flat button-primary" type="button">CANCEL</button>
                    <button class="button button-flat button-primary" type="button">I AGREE</button>
                </div>
            </div>
        </div>
        <div class="test-area">
            <div class="dialog dialog-small">
                <div class="dialog-body">
                    <h2>Small Dialog</h2>
                    <p>This is a test dialog. It could contain information for the user to confirm or deny.</p>
                </div>
                <div class="dialog-footer">
                    <button class="button button-flat button-primary" type="button">CANCEL</button>
                    <button class="button button-flat button-primary" type="button">I AGREE</button>
                </div>
            </div>
        </div>
        <div class="test-area">
            <div class="dialog dialog-large">
                <div class="dialog-body">
                    <h2>Large Dialog</h2>
                    <p>This is a test dialog. It could contain information for the user to confirm or deny.</p>
                </div>
                <div class="dialog-footer">
                    <button class="button button-flat button-primary" type="button">CANCEL</button>
                    <button class="button button-flat button-primary" type="button">I AGREE</button>
                </div>
            </div>
        </div>
    </body>

</html>
