<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../build/style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <!--
        <div class="input-group">
            <input class="button button-raised button-primary" id="button-id" onclick="alert('message');" type="button" value="button" />
            <label for="button-id">Button</label>
        </div>
        <div class="input-group">
            <input class="" id="checkbox-id" name="checkbox-name" type="checkbox" />
            <label for="checkbox-id">Checkbox</label>
        </div>
        <div class="input-group">
            <input class="" id="color-id" type="color" />
            <label for="color-id">Color</label>
        </div>
        </div>
        <div class="input-group">
            <input class="" id="date-id" type="date" />
            <label for="date-id">Date</label>
        </div>
        <div class="input-group">
            datetime: removed from the HTML standard; use datetime-local instead
            <input class="" id="datetime-id" type="datetime" />
            <label for="datetime-id">DateTime</label>
        </div>
        <div class="input-group">
            <input class="" id="datetime-local-id" type="datetime-local" />
            <label for="datetime-local-id">DateTime-Local</label>
        </div>
        -->
        <div class="input-group">
            <input id="email-id" type="email" />
            <label for="email-id">Email</label>
        </div>
        <!--
        <div class="input-group">
            <input class="" id="file-id" type="file" />
            <label for="file-id">File</label>
        </div>
        <div class="input-group">
            <input class="" id="hidden-id" type="hidden" />
            <label for="hidden-id">Hidden</label>
        </div>
        <div class="input-group">
            <input class="" id="image-id" type="image" />
            <label for="image-id">Image</label>
        </div>
        <div class="input-group">
            <input class="" id="month-id" type="month" />
            <label for="month-id">Month</label>
        </div>
        <div class="input-group">
            <input class="" id="number-id" type="number" />
            <label for="number-id">Number</label>
        </div>
        -->
        <div class="input-group">
            <input id="password-id" type="password" />
            <label for="password-id">Password</label>
        </div>
        <!--
        <div class="input-group">
            <input class="" id="radio-id" type="radio" />
            <label for="radio-id">Radio</label>
        </div>
        <div class="input-group">
            <input class="" id="range-id" type="range" />
            <label for="range-id">Range</label>
        </div>
        <div class="input-group">
            <input class="" id="reset-id" type="reset" />
            <label for="reset-id">Reset</label>
        </div>
        -->
        <!--
        <div class="input-group">
            <input class="" id="search-id" type="search" />
            <label for="search-id">Search</label>
        </div>
        -->
        <!--
        <div class="input-group">
            <input class="" id="submit-id" type="submit" />
            <label for="submit-id">Submit</label>
        </div>
        -->
        <div class="input-group">
            <input id="tel-id" type="tel" />
            <label for="tel-id">Tel</label>
        </div>
        <div class="input-group">
            <input id="text-id" type="text" required/>
            <label for="text-id">Text</label>
            <span class="message">
              <span class="helper-text">Helper</span>
            <span class="error-text">Error</<span>
            </span>
        </div>
        <!--
        <div class="input-group">
            <input class="" id="time-id" type="time" />
            <label for="time-id">Time</label>
        </div>
        -->
        <div class="input-group">
            <input class="" id="url-id" type="url" />
            <label for="url-id">Url</label>
        </div>
        <!--
        <div class="input-group">
            <input class="" id="week-id" type="week" />
            <label for="week-id">Week</label>
        </div>
        -->
    </body>

</html>
