<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./Style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="snackbar snackbar-single">
        Example Snackbar
        <button class="button button-flat button-accent" type="button">undo</button>
    </div>
</body>

</html>
