<html>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="./Style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" />
                </th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td class="text">Jaren</td>
                <td class="text">Student</td>
                <td class="numeric">17</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td class="text">Jacob</td>
                <td class="text">Unemployeed</td>
                <td class="numeric">21</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td class="text">Lily</td>
                <td class="text">Chick-Fil-A</td>
                <td class="numeric">19</td>
            </tr>
        </table>
    </body>

</html>
