<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../bower_components/normalize-css/normalize.css" type="text/css" rel="stylesheet" />
        <link href="../../build/style.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" />
                </th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td class="text">Jaren</td>
                <td class="text">Student</td>
                <td class="numeric">17</td>
                <td>
                    <div class="context-menu">
                        <i class="material-icons">more_vert</i>
                        <ul class="menu hide">
                            <a href="http://google.com">
                                <li>
                                    <i class="material-icons">phone</i>
                                    <span>Phone</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="material-icons">email</i>
                                    <span>Email</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="material-icons">delete</i>
                                    <span>Remove</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td class="text">Jacob</td>
                <td class="text">Unemployeed</td>
                <td class="numeric">21</td>
                <td>
                    <div class="context-menu">
                        <i class="material-icons">more_vert</i>
                        <ul class="menu hide">
                            <a href="http://google.com">
                                <li>
                                    <i class="material-icons">phone</i>
                                    <span>Phone</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="material-icons">email</i>
                                    <span>Email</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="material-icons">delete</i>
                                    <span>Remove</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td class="text">Lily</td>
                <td class="text">Chick-Fil-A</td>
                <td class="numeric">19</td>
                <td>
                    <div class="context-menu">
                        <i class="material-icons">more_vert</i>
                        <ul class="menu hide">
                            <a href="http://google.com">
                                <li>
                                    <i class="material-icons">phone</i>
                                    <span>Phone</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="material-icons">email</i>
                                    <span>Email</span>
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="material-icons">delete</i>
                                    <span>Remove</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="../scripts/ripple.js"></script>
        <script src="../scripts/menu.js"></script>
    </body>

</html>
