:root {
    --font-family: "Roboto", "Noto Sans", sans-serif;
    --shadow-level-1: 0px 2px 10px 0px rgba(0, 0, 0, .16), 0px 2px 5px 0px rgba(0, 0, 0, .26);
    --shadow-level-2: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(0, 0, 0, .2);
    --shadow-level-3: 0 17px 50px 0 rgba(0, 0, 0, .19), 0 12px 15px 0 rgba(0, 0, 0, .24);
    --shadow-level-4: 0 25px 55px 0 rgba(0, 0, 0, .21), 0 16px 28px 0 rgba(0, 0, 0, .22);
    --shadow-level-5: 0 40px 77px 0 rgba(0, 0, 0, .22), 0 27px 24px 0 rgba(0, 0, 0, .2);
    --color-primary-50: #9fd3ff;
    --color-primary-100: #53b0ff;
    --color-primary-200: #1b97ff;
    --color-primary-300: #0072d2;
    --color-primary-400: #0062b4;
    --color-primary-500: #005195;
    --color-primary-600: #004076;
    --color-primary-700: #003058;
    --color-primary-800: #001f39;
    --color-primary-900: #000e1b;
    --color-primary-A100: #9fd3ff;
    --color-primary-A200: #53b0ff;
    --color-primary-A400: #0062b4;
    --color-primary-A700: #003058;
    --color-accent-50: #fff3e0;
    --color-accent-100: #ffe0b2;
    --color-accent-200: #ffcc80;
    --color-accent-300: #ffb74d;
    --color-accent-400: #ffa726;
    --color-accent-500: #ff9800;
    --color-accent-600: #fb8c00;
    --color-accent-700: #f57c00;
    --color-accent-800: #ef6c00;
    --color-accent-900: #e65100;
    --color-accent-A100: #ffd180;
    --color-accent-A200: #ffab40;
    --color-accent-A400: #ff9100;
    --color-accent-A700: #ff6d00;
    --color-default-50: #fafafa;
    --color-default-100: #f5f5f5;
    --color-default-200: #eeeeee;
    --color-default-300: #e0e0e0;
    --color-default-400: #bdbdbd;
    --color-default-500: #9e9e9e;
    --color-default-600: #757575;
    --color-default-700: #616161;
    --color-default-800: #424242;
    --color-default-900: #212121;
}
@custom-media --mobile-viewport (max-width: 768px);
@custom-media --desktop-viewport (min-width: 769px);
@custom-media --desktop-min-medium-viewport (min-width: 960px);
@custom-media --desktop-min-large-viewport (min-width: 1280px);
@custom-selector :--button button, .button;
@custom-selector :--focus:hover, :focus;
.background-primary-50 {
    background: var(--color-primary-50);
}
.background-primary-100 {
    background: var(--color-primary-100);
}
.background-primary-200 {
    background: var(--color-primary-200);
}
.background-primary-300 {
    background: var(--color-primary-300);
}
.background-primary-400 {
    background: var(--color-primary-400);
}
.background-primary-500 {
    background: var(--color-primary-500);
}
.background-primary-600 {
    background: var(--color-primary-600);
}
.background-primary-700 {
    background: var(--color-primary-700);
}
.background-primary-800 {
    background: var(--color-primary-800);
}
.background-primary-900 {
    background: var(--color-primary-900);
}
.background-primary-A100 {
    background: var(--color-primary-A100);
}
.background-primary-A200 {
    background: var(--color-primary-A200);
}
.background-primary-A400 {
    background: var(--color-primary-A400);
}
.background-primary-A700 {
    background: var(--color-primary-A700);
}
.background-accent-50 {
    background: var(--color-accent-50);
}
.background-accent-100 {
    background: var(--color-accent-100);
}
.background-accent-200 {
    background: var(--color-accent-200);
}
.background-accent-300 {
    background: var(--color-accent-300);
}
.background-accent-400 {
    background: var(--color-accent-400);
}
.background-accent-500 {
    background: var(--color-accent-500);
}
.background-accent-600 {
    background: var(--color-accent-600);
}
.background-accent-700 {
    background: var(--color-accent-700);
}
.background-accent-800 {
    background: var(--color-accent-800);
}
.background-accent-900 {
    background: var(--color-accent-900);
}
.background-accent-A100 {
    background: var(--color-accent-A100);
}
.background-accent-A200 {
    background: var(--color-accent-A200);
}
.background-accent-A400 {
    background: var(--color-accent-A400);
}
.background-accent-A700 {
    background: var(--color-accent-A700);
}
.background-default-50 {
    background: var(--color-default-50);
}
.background-default-100 {
    background: var(--color-default-100);
}
.background-default-200 {
    background: var(--color-default-200);
}
.background-default-300 {
    background: var(--color-default-300);
}
.background-default-400 {
    background: var(--color-default-400);
}
.background-default-500 {
    background: var(--color-default-500);
}
.background-default-600 {
    background: var(--color-default-600);
}
.background-default-700 {
    background: var(--color-default-700);
}
.background-default-800 {
    background: var(--color-default-800);
}
.background-default-900 {
    background: var(--color-default-900);
}
.color-swatch {
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 14px;
    width: 300px;
}
.color-swatch .row {
    align-items: center;
    display: flex;
    min-height: 20px;
    padding: 10px;
}
.card {
    box-shadow: var(--shadow-level-1);
}
body {
    font-family: var(--font-family);
    font-size: 13px;
    margin: 0;
    padding: 0;
}
@media (--mobile-viewport) {
    body {
        font-size: 14px;
    }
}
h1 {
    color: rgba(0, 0, 0, .54);
    font-size: 8em;
}
h2 {
    color: rgba(0, 0, 0, .54);
    font-size: 4em;
}
h3 {
    color: rgba(0, 0, 0, .54);
    font-size: 3.2em;
}
h4 {
    color: rgba(0, 0, 0, .54);
    font-size: 1.7em;
}
h5 {
    color: rgba(0, 0, 0, .87);
    font-size: 1.4em;
}
h6 {
    color: rgba(0, 0, 0, .87);
    font-size: 1.14em;
}
@media (max-width: 768px) {
    h6 {
        font-size: 1.14px;
    }
}
p {
    color: rgba(0, 0, 0, .87);
    font-size: 1em;
}
p.caption {
    color: rgba(0, 0, 0, .54);
    font-size: .85em;
}
.test-area {
    margin: 50px 0;
}
.light-theme {
    background: #fff;
    padding: 1em;
}
.dark-theme {
    background: #424242;
    padding: 1em;
}
.dialog {
    box-shadow: var(--shadow-level-5);
    margin: 0 30%;
    width: 40%;
}
.dialog.dialog-small {
    margin: 0 40%;
    width: 20%;
}
.dialog.dialog-large {
    margin: 0 20%;
    width: 60%;
}
.dialog-body {
    padding: 24px;
}
.dialog-footer {
    text-align: right;
    padding: 8px 0;
}
.dialog-footer button {
    margin-right: 8px;
}
:--button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 32dpi;
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: bold;
    min-width: 88px;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
}
:--button::before {
    position: absolute;
    content: '';
    top: -12px;
    right: -12px;
    left: -12px;
    bottom: -12px;
}
@media (--mobile-viewport) {
    .button {
        height: 36px;
        font-size: 14px;
    }
}
.button-raised {
    box-shadow: var(--shadow-level-1);
    transition: all 0.2s ease-in-out;
}
button[type="button"].button-raised:hover {
    box-shadow: var(--shadow-level-2);
}
.button-raised.button-default {
    color: #000;
    background: #e0e0e0;
}
.button-raised.button-primary {
    color: #fff;
    background: var(--color-primary-500);
    /*background: 500 primary color*/
}
.button-raised.button-accent {
    color: #fff;
    background: var(--color-accent-500);
}
button[type="button"].button-raised.button-default:active {
    background: var(--color-default-700);
}
button[type="button"].button-raised.button-primary:active {
    background: var(--color-primary-700);
}
button[type="button"].button-raised.button-accent:active {
    background: var(--color-accent-700);
}
button[type="button"].button-raised:focus {}
button[type="button"].button-raised:disabled {
    box-shadow: none;
}
.light-theme button[type="button"].button-raised:disabled {
    background: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .26);
}
.dark-theme button[type="button"].button-raised:disabled {
    background: rgba(255, 255, 255, .12);
    color: rgba(255, 255, 255, .30);
}
.button-flat {
    background: none !important;
}
.button-flat.button-default {
    color: #000;
}
.button-flat.button-primary {
    color: #005195;
}
.button-flat.button-accent {
    color: #ff9800;
}
button[type="button"].button-flat:active {
    opacity: 12%;
}
button[type="button"].button-flat:disabled {
    color: 26% #000;
}
button[type="button"].button-primary:disabled {
    color: 30% #fff;
    background: 12% #fff;
}
select {
    background: none;
    border: none;
    font-size: 13px;
    padding: 16px 16px 24px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@media (--mobile-viewport) {
    select {
        font-size: 14px;
    }
}
.fab {
    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow-level-2);
    color: #fff;
    font-size: 24px;
    height: 56px;
    transition: all 0.2s ease-in-out;
    width: 56px;
}
.fab i {
    height: 24px;
    width: 24px;
}
.fab-small {
    height: 40px;
    width: 40px;
}
.fab.fab-primary {
    background: #005195;
}
.fab.fab-accent {
    background: #ff9800;
}
.fab:active {
    box-shadow: var(--shadow-level-3);
}
.fab.fab-primary:active {
    background: #003058;
}
.fab.fab-accent:active {
    background: #f57c00;
}
.table {
    border-collapse: collapse;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    padding: 0 24px;
}
.table tr {
    height: 48px;
}
.table tr:first-child {
    height: 64px;
}
.table tr:last-child {
    height: 56px;
}
.table tr:hover {
    background: #eee;
}
.table th, .table td {
    border-bottom: 1px solid #eee;
}
.table tr:last-child td {
    border-bottom: none;
}
.table th, .table td {
    padding: 0 28px;
}
.table th {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
}
.table td.text {
    text-align: left;
}
.table td.numeric {
    text-align: right;
}
.table input[type="checkbox"] {
    height: 18px;
    margin: auto;
    width: 18px;
}
.snackbar {
    align-items: center;
    background: #323232;
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 14px;
    position: absolute;
}
@media (--mobile-viewport) {
    .snackbar {
        width: 100%
    }
}
@media (min-width: 768px) {
    .snackbar {
        border-radius: 2px;
        max-width: 568px;
        margin-bottom: 10px;
        margin-left: 40px;
        min-width: 288px;
    }
}
.snackbar .button {
    font-size: 14px;
    font-weight: 500;
    margin-left: 24px;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .snackbar .button {
        margin-left: 48px;
    }
}
.snackbar.snackbar-single {
    height: 30px;
    padding: 14px 24px;
}
.snackbar.snackbar-multi {
    height: 42px;
    padding: 24px;
}
.dim-background {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.bottom-sheet {
    background: #fff;
    border: none;
    bottom: 0;
    box-shadow: var(--shadow-level-1);
    color: rgba(0, 0, 0, .87);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    z-index: 10;
}
.bottom-sheet.show {
    outline: 9999px solid rgba(0, 0, 0, 0.2);
    visibility: visible;
}
.bottom-sheet.hide {
    outline-color: 0 none transparent;
    visibility: hidden;
}
@media (--mobile-viewport) {
    .bottom-sheet {
        width: 100%;
    }
}
@media (--desktop-viewport) {
    .bottom-sheet {
        margin: 0 50%;
        left: -192px;
        width: 384px;
    }
}
@media (--desktop-min-medium-viewport) {
    .bottom-sheet {
        left: -256px;
        width: 512px;
    }
}
@media (--desktop-min-large-viewport) {
    .bottom-sheet {
        left: -288px;
        width: 576px;
    }
}
.bottom-sheet .title {
    color: rgba(0, 0, 0, .54)
}
.bottom-sheet.list {
    padding: 8px 16px;
}
.bottom-sheet.list > .title {
    align-items: center;
    display: flex;
    height: 56px;
}
.bottom-sheet.list .row {
    align-items: center;
    display: flex;
    height: 48px;
}
.bottom-sheet.list .row > .icon {
    display: inline-block;
    font-size: 24px;
    height: 24px;
    padding-right: 16px;
    text-align: center;
    width: 24px;
}
.bottom-sheet.list .row > .label {
    display: inline-block;
    padding-left: 16px;
}
.bottom-sheet.list hr {
    border-width: 1px;
}
.bottom-sheet.grid {
    padding: 16px 24px 24px 24px;
}
.ripple-effect {
    animation: ripple-animation 2s;
    background: white;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
}
@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}
